header {
  padding-block: 32px;
  font: var(--text-md);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (width < 80em) {
  header .container {
    flex-direction: column;
    align-items: center;
  }
}

#profile {
  display: flex;
  gap: 32px;
}

@media (width < 80em) {
  #profile {
    flex-direction: column;

  }
}

#profile > div {
  max-width: 384px;
}

#profile img {
  width: 176px;
  height: 176px;
  object-fit: cover;
  border-radius: 100px; 
}
#profile h1 {
  font: var(--text-lg);
  color: var(--text-color-primary);
  margin-bottom: 8px;
}

#info {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 280px;
}

@media (width < 80em) {
  #info {
    margin-top: 32px;
    display: flex;
    align-self: flex-start;
  }
}

#info li {
  display: flex;
  align-items: center;
  gap: 8px;
}